**/dbt/target/
**/dbt/dbt_packages/

.DS_Store
.vscode/
.idea/


# Secrets / credentials
*key*.json
**/key.json
**/*key*.json

# Terraform state
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfplan

# Build artifacts
**/target/
**/*.jar

# Python
**/.venv/
**/__pycache__/
**/*.pyc
